<template>
    <div class="card-coin">
        <div class="card-img">
            <img :src="`https://www.cryptocompare.com${coin.CoinInfo.ImageUrl}`" :alt="coin.CoinInfo.FullName">
        </div>
        <div class="card-detail">
            <h4>{{ coin.CoinInfo.FullName }}</h4>
            <div class="card-detail-flex">
                <div>
                    <p class="label-card-detail">Precio</p>
                    <p class="dato-card-detail">{{ coin.RAW.USD.PRICE }}</p>
                </div>
                <div>
                    <p class="label-card-detail">Algoritmo</p>
                    <p class="dato-card-detail">{{ (coin.CoinInfo.Algorithm).toUpperCase() }}</p>
                </div>
            </div>
        </div>
        <div class="card-name">
            <h5>{{ coin.CoinInfo.Name }}</h5>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['coin']
    }
</script>

<style>
    .card-coin {
        width: 31%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3f4456;
        border-radius: 5px;
        padding: .5em;
        margin-bottom: 2em;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(49,54,72,1);
        -moz-box-shadow: 0px 0px 40px 0px rgba(49,54,72,1);
        box-shadow: 0px 0px 40px 0px rgba(49,54,72,1);
        transition: all .3s;
    }

    .card-coin:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(49,54,72,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(49,54,72,1);
        box-shadow: 0px 0px 10px 0px rgba(49,54,72,1);
    }

    .card-img {
        flex: 1;
    }

    .card-img img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .card-detail {
        flex: 2.3;
        padding-left: .5em;
    }

    .card-detail h4 {
        color: #f0f0f0;
        font-weight: 700;
        font-size: 2em;
        margin-bottom: .2em;
    }

    .card-detail-flex {
        display: flex;
        justify-content: space-between;
    }

    .label-card-detail {
        color: #98a0ac;
    }

    .dato-card-detail {
        color: #cbac7b;
        font-size: 1.4em;
    }

    .card-name {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .card-name h5 {
        color: #cbac7b;
        font-weight: 500;
        font-size: 1.6em;
    }

    /*MEDIA QUERY'S*/

    @media (max-width: 1380px) {
        .card-coin {
            width: 32.5%;
        }
    }

    @media (max-width: 1280px) {
        .card-img img {
            width: 70px;
            height: auto;
        }

        .card-detail h4 {
            font-size: 1.5em;
        }
    
        .label-card-detail {
            font-size: .9em;
        }

        .dato-card-detail {
            font-size: 1.2em;
        }
    
        .card-name h5 {
            font-size: 1.3em;
        }
    }

    @media (max-width: 1100px) {
        .card-coin {
            width: 46%;
        }
    }

    @media (max-width: 868px) {
        .card-coin {
            width: 48.5%;
        }
    }

    @media (max-width: 760px) {
        .card-coin {
            width: 100%;
        }
    }

    @media (max-width: 500px) {
        .card-detail h4 {
            font-size: 1.2em;
        }

        .label-card-detail {
            font-size: .8em;
        }

        .dato-card-detail {
            font-size: 1em;
        }

        .card-name h5 {
            font-size: 1.1em;
        }
    }
</style>

