<template>
    <div class="card-info">
        <div class="d-flex">
            <h2 class="nombre-coin">{{ coin.CoinInfo.FullName }}</h2>
            <p class="valor-coin"><span>$ {{ coin.RAW.USD.PRICE }}</span>USD</p>
        </div>
        <div class="d-flex">
            <div>
                <p class="tit-porc-aumento">Porcentaje aumento</p>
                <h3 class="porcentaje-aumento">{{ coin.DISPLAY.USD.CHANGEPCTDAY }}%</h3>
            </div>
            <div class="indicador-up-down">
                <p class="red-down"><i class="far fa-arrow-alt-circle-down"></i> {{ coin.RAW.USD.LOWDAY }}</p>
                <p class="green-up"><i class="far fa-arrow-alt-circle-up"></i> {{ coin.RAW.USD.HIGHDAY }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['firstCoin'],
        data () {
            return {
                coin: {}
            }
        },
        created () {
            this.coin = this.firstCoin
        }    
    }
</script>

<style>
    .card-info {
        width: 100%;
        border-radius: 5px;
        padding: 1.5em;

        background: #808290;
        background: -moz-linear-gradient(left, #808290 0%, #4e5462 100%);
        background: -webkit-linear-gradient(left, #808290 0%,#4e5462 100%);
        background: linear-gradient(to right, #808290 0%,#4e5462 100%);
        -webkit-box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
        -moz-box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
        box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nombre-coin {
        color: #f0f0f0;
        font-weight: 700;
        font-size: 3.2em;
    }

    .valor-coin {
        margin-bottom: 6px;
        color: #cbac7b;
    }

    .valor-coin span {
        font-size: 1.5em;
    }

    .tit-porc-aumento {
        color: #383c4e;
        font-size: .8em;
        font-weight: 500;
        margin-top: 1em;
    }

    .porcentaje-aumento {
        color: #383c4e;
        font-weight: 500;
        font-size: 3.2em;
    }

    .indicador-up-down {
        display: flex;
    }

    .indicador-up-down p {
        margin-left: .7em;
        margin-bottom: 6px;
    }

    .red-down {
        color: #f0756f;
    }

    .green-up {
        color: #5bdc3b;
    }

    /*MEDIA QUERY'S*/

    @media (max-width: 1150px) {
        .nombre-coin {
            font-size: 2.8em;
        }

        .valor-coin {
            font-size: .9em;
        }

        .valor-coin span {
            font-size: 1.3em;
        }

        .porcentaje-aumento {
            font-size: 2.8em;
        }

        .indicador-up-down p {
            font-size: .9em;
        }
    }

    @media (max-width: 1024px) {
        .card-info {
            margin-bottom: 1em;
        }
    }

    @media (max-width: 450px) {
        .nombre-coin {
            font-size: 2.3em;
        }

        .valor-coin {
            font-size: .8em;
        }

        .valor-coin span {
            font-size: 1.1em;
        }

        .tit-porc-aumento {
            font-size: .7em;
        }

        .porcentaje-aumento {
            font-size: 2.3em;
        }

        .indicador-up-down p {
            font-size: .75em;
        }
    }

    @media (max-width: 370px) {
        .indicador-up-down {
            flex-direction: column;
        }
    }
</style>