<template>
    <div class="contenedor-grafico">
        <div class="grafico-width">
        <bars
            :data="[1.34, 2.36, 5.49, 9.18, 5, 10, 3, 5, 5, 12, 1, 8, 2, 9, 11.2]"
            :gradient="['#cbac7b', '#f2d5a7']"
            :barWidth="10"
            :growDuration="2">
        </bars>
        </div>
    </div>
</template>

<style>
    .contenedor-grafico {
        width: 90%;
        border-radius: 5px;
        padding: 1.5em;
        background-color: #2e3038;
        -webkit-box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
        -moz-box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
        box-shadow: 0px 5px 40px 0px rgba(49,54,72,1);
    }

    @media (max-width: 1024px) {
        .contenedor-grafico {
            width: 100%;
        }
    }
</style>

