<template>
    <div class="full-screen">
        <h1>Loading...</h1>
    </div>
</template>
<style>
    .full-screen {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full-screen h1 {
        color: white;
        margin-top: -100px;
    }
</style>

