<template>
    <h1 class="tit-aplicacion">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="257.75px" height="47px" viewBox="0 0 257.75 47" enable-background="new 0 0 257.75 47" xml:space="preserve">
        <g>
            <path fill="#FEFFFF" d="M10.362,33.542c-2.599-1.398-4.643-3.336-6.13-5.815S2,22.445,2,19.32c0-3.125,0.744-5.929,2.231-8.409
                c1.488-2.479,3.531-4.417,6.13-5.815C12.962,3.698,15.885,3,19.13,3c2.735,0,5.207,0.481,7.417,1.443
                c2.208,0.962,4.064,2.344,5.567,4.147l-4.688,4.328c-2.134-2.464-4.779-3.696-7.934-3.696c-1.955,0-3.697,0.428-5.23,1.284
                c-1.532,0.856-2.727,2.051-3.583,3.584c-0.856,1.533-1.285,3.276-1.285,5.23c0,1.954,0.429,3.696,1.285,5.229
                c0.856,1.533,2.052,2.729,3.583,3.584c1.533,0.857,3.275,1.286,5.23,1.286c3.155,0,5.8-1.248,7.934-3.742l4.688,4.327
                c-1.503,1.834-3.366,3.231-5.59,4.193c-2.225,0.962-4.704,1.442-7.438,1.442C15.87,35.639,12.962,34.94,10.362,33.542z"/>
            <path fill="#FEFFFF" d="M46.652,11.384c1.428-0.6,3.073-0.901,4.937-0.901v6.492c-0.783-0.06-1.308-0.09-1.579-0.09
                c-2.014,0-3.592,0.563-4.733,1.69c-1.143,1.127-1.713,2.818-1.713,5.072v11.45h-7.033V10.844h6.717v3.2
                C44.09,12.873,45.225,11.986,46.652,11.384z"/>
            <path fill="#FEFFFF" d="M80.711,10.844l-10.955,25.74c-1.112,2.796-2.487,4.764-4.126,5.906c-1.638,1.142-3.613,1.713-5.927,1.713
                c-1.263,0-2.51-0.195-3.742-0.585c-1.232-0.392-2.239-0.933-3.021-1.624l2.57-5.003c0.541,0.479,1.164,0.856,1.871,1.127
                c0.705,0.27,1.404,0.405,2.096,0.405c0.962,0,1.743-0.232,2.345-0.698c0.6-0.467,1.142-1.241,1.623-2.321l0.089-0.227
                L53.032,10.844h7.258l6.807,16.454l6.852-16.454H80.711z"/>
            <path fill="#FEFFFF" d="M104.086,12.039c1.849,1.037,3.297,2.495,4.35,4.373c1.052,1.879,1.579,4.066,1.579,6.56
                c0,2.495-0.527,4.682-1.579,6.56c-1.053,1.878-2.501,3.336-4.35,4.374c-1.849,1.037-3.899,1.555-6.154,1.555
                c-3.096,0-5.531-0.976-7.303-2.93v11.315h-7.034v-33h6.718v2.795c1.742-2.103,4.283-3.156,7.619-3.156
                C100.187,10.483,102.237,11.002,104.086,12.039z M101.155,27.862c1.157-1.217,1.735-2.847,1.735-4.891
                c0-2.043-0.578-3.674-1.735-4.891s-2.637-1.826-4.44-1.826s-3.284,0.609-4.441,1.826s-1.735,2.848-1.735,4.891
                c0,2.044,0.578,3.674,1.735,4.891c1.157,1.218,2.638,1.826,4.441,1.826S99.998,29.08,101.155,27.862z"/>
            <path fill="#FEFFFF" d="M130.344,33.926c-0.69,0.511-1.539,0.895-2.545,1.149c-1.009,0.255-2.069,0.383-3.181,0.383
                c-2.885,0-5.115-0.736-6.693-2.209c-1.577-1.472-2.367-3.637-2.367-6.492v-9.963h-3.741v-5.41h3.741V5.48h7.033v5.904h6.041v5.41
                h-6.041v9.874c0,1.022,0.263,1.811,0.789,2.367c0.526,0.557,1.269,0.834,2.231,0.834c1.112,0,2.059-0.3,2.84-0.902L130.344,33.926z
                "/>
            <path fill="#FEFFFF" d="M183.449,28.336h-14.648l-2.797,6.761h-7.483l14.066-31.556h7.212l14.111,31.556h-7.665L183.449,28.336z
                M181.151,22.791l-5.005-12.082l-5.002,12.082H181.151z"/>
            <path fill="#FEFFFF" d="M217.192,12.039c1.85,1.037,3.299,2.495,4.353,4.373c1.052,1.879,1.578,4.066,1.578,6.56
                c0,2.495-0.526,4.682-1.578,6.56c-1.054,1.878-2.503,3.336-4.353,4.374c-1.847,1.037-3.898,1.555-6.152,1.555
                c-3.096,0-5.53-0.976-7.303-2.93v11.315h-7.035v-33h6.721v2.795c1.741-2.103,4.282-3.156,7.617-3.156
                C213.294,10.483,215.346,11.002,217.192,12.039z M214.265,27.862c1.155-1.217,1.733-2.847,1.733-4.891
                c0-2.043-0.578-3.674-1.733-4.891c-1.159-1.217-2.64-1.826-4.441-1.826c-1.804,0-3.284,0.609-4.44,1.826
                c-1.158,1.217-1.736,2.848-1.736,4.891c0,2.044,0.578,3.674,1.736,4.891c1.156,1.218,2.637,1.826,4.44,1.826
                C211.625,29.688,213.105,29.08,214.265,27.862z"/>
            <path fill="#FEFFFF" d="M248.299,12.039c1.85,1.037,3.3,2.495,4.352,4.373c1.05,1.879,1.576,4.066,1.576,6.56
                c0,2.495-0.526,4.682-1.576,6.56c-1.052,1.878-2.502,3.336-4.352,4.374c-1.848,1.037-3.901,1.555-6.152,1.555
                c-3.098,0-5.531-0.976-7.306-2.93v11.315h-7.031v-33h6.717v2.795c1.743-2.103,4.282-3.156,7.62-3.156
                C244.397,10.483,246.451,11.002,248.299,12.039z M245.368,27.862c1.159-1.217,1.735-2.847,1.735-4.891
                c0-2.043-0.576-3.674-1.735-4.891c-1.157-1.217-2.636-1.826-4.439-1.826s-3.284,0.609-4.441,1.826
                c-1.156,1.217-1.735,2.848-1.735,4.891c0,2.044,0.579,3.674,1.735,4.891c1.157,1.218,2.638,1.826,4.441,1.826
                S244.211,29.08,245.368,27.862z"/>
        </g>
        <path fill="#DBBA89" d="M148.239,19.62l2.521-1.453l6.027,9.597c0.652-1.539,1.017-3.23,1.017-5.008
            c0-3.915-1.757-7.418-4.521-9.771c-0.48,0.211-0.968,0.432-1.463,0.665l-0.563,2.474l-0.671,0.39l0.149,0.685l-3.381,1.998
            l-0.586-0.526l-0.806,0.47l-2.589-0.69c-3.402,2.315-6.807,5.17-9.861,8.673c0,0,3.624-7.558,11.734-12.832l-0.37-0.616l2.186-1.308
            l0.374,0.624c1.088-0.589,2.244-1.13,3.47-1.607c-1.77-0.925-3.787-1.448-5.926-1.448c-7.077,0-12.82,5.739-12.82,12.82
            c0,7.081,5.743,12.821,12.82,12.821c3.779,0,7.174-1.635,9.521-4.233L148.239,19.62z"/>
        </svg>
    </h1>
</template>

<style>
    .tit-aplicacion svg {
        margin-top: 2em;
    }

    @media (max-width: 500px) {
        .tit-aplicacion svg {
            width: 230px;
            height: auto;
        }
    }
</style>

