<template>
  <div class="main-wrapper">
        <div class="container">
            <logo />
            <section v-if="!loading" class="principal">
                <div v-if="coins.length !== 0" class="info-coin">
                  <coinmain :firstCoin="coins[0]" />
                </div>
                <div class="grafico">
                  <grafico />
                </div>
            </section>
            <section v-if="!loading" class="content">
                <h3>Crypto monedas más transadas(24H.)</h3>
                <div class="content-coins">
                  <card-coin v-for="coin in coins" :key="coin.CoinInfo.Id" :coin="coin" />
                </div>  
                
                <div class="content-btn">
                    <a href="#" class="btn-cargar-mas">Cargar más</a>
                </div>
            </section>
            <loading v-if="loading" />
        </div>
    </div>
</template>

<script>

  import Logo from '@/components/Logo';
  import Coinmain from '@/components/Coinmain';
  import Grafico from '@/components/Grafico';
  import CardCoin from '@/components/CardCoin';
  import Loading from '@/components/Loading';

  import axios from 'axios';

export default {
  data () {
    return {
      coins: [],
      loading: false
    }
  },
  name: 'app',
  components: {
    Logo,
    Coinmain,
    Grafico,
    CardCoin,
    Loading
  },
  created () {
    const api_key = '71ea3b4de351162afa306b376888921d003ea19de5a94660a7880e93ec218729';
    const url = `https://min-api.cryptocompare.com/data/top/totalvolfull?limit=10&tsym=USD&api_key=${api_key}`;

    this.loading = true

    let result = axios.get(url)
      .then(res => {
        this.coins = res.data.Data;
        this.loading = false
        //console.log(res.data.Data);
      })
      .catch(err => {
        console.log(err);
      })
  }
}
</script>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	width:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

a {
	outline:none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main-wrapper {
    width: 100%;
    height: auto;
    background: #34384a; /* Old browsers */
    background: -moz-linear-gradient(52deg, #34384a 0%, #474c62 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(52deg, #34384a 0%,#474c62 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(52deg, #34384a 0%,#474c62 100%);
}

.container {
    width: 86%;
    margin: 0 auto;
}

.principal {
    display: flex;
    margin-top: 3em;
}

.info-coin {
    flex: 1;
}

.grafico {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.content {
    margin-top: 3em;
}

.content h3 {
    color: #98a0ac;
    font-weight: 400;
    font-size: 1.5em;
}

.content-coins {
    widows: 100%;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.btn-cargar-mas {
    color: #cbac7b;
    border: 1px solid #cbac7b;
    width: 20%;
    padding: 1em 2.5em;
    margin-bottom: 2em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


/*MEDIA QUERY'S*/

@media (max-width: 1380px) {
  .grafico {
        flex: 1.5;
  }
}

@media (max-width: 1280px) {
    .btn-cargar-mas {
        width: 30%;
    }
}

@media (max-width: 1100px) {
    .main-wrapper {
        height: auto;
    }
}

@media (max-width: 1024px) {
    .principal {
        flex-direction: column;
    }
}

@media (max-width: 760px) {
    .btn-cargar-mas {
        width: 80%;
    }

    .content h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 500px) {
    .btn-cargar-mas {
        width: 100%;
    }

    .content h3 {
        font-size: 1em;
    }
}

</style>
